<footer class="bg-white border-t border-gray-400 shadow">
  <div class="container mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">GeoAPI</h3>
          <p class="py-4 text-gray-600 text-sm">
            Copyright © 1994–2019 <a href="https://www.opengeospatial.org/">Open Geospatial Consortium</a>
          </p>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">Links</h3>
          <ul class="list-reset items-center text-sm pt-3">
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Twitter?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;

  function check(e){
    var target = (e && e.target) || (event && event.srcElement);


    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
        // click on the link
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {navMenuDiv.classList.add("hidden");}
      } else {
        // click both outside link and outside menu, hide menu
        navMenuDiv.classList.add("hidden");
      }
    }

  }

  function checkParent(t, elm) {
    while(t.parentNode) {
      if( t === elm ) {return true;}
      t = t.parentNode;
    }
    return false;
  }


</script>
