<div class="w-full lg:w-1/5 lg:px-6 text-xl text-gray-800 leading-normal">
    <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Menu</p>
    <div class="block lg:hidden sticky inset-0">
        <button id="menu-toggle" class="flex w-full justify-end px-3 py-3 bg-white lg:bg-transparent border rounded border-gray-600 hover:border-blue-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 float-right" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
            </svg>
        </button>
    </div>
    <div class="w-full sticky inset-0 hidden h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 border border-gray-400 lg:border-transparent bg-white shadow lg:shadow-none lg:bg-transparent z-20" style="top:5em;" id="menu-content">
        <ul class="list-reset">
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="{{ '/' | relative_url }}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:border-blue-500 lg:hover:border-blue-500">
                    <span class="text-sm text-gray-900 font-bold">Home</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="https://www.opengeospatial.org/ogc/software" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="text-sm">License</span>
                    <svg class="w-4 h-4 fill-current text-gray-600 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/>
                    </svg>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="{{ '/3.0/index.html' | relative_url }}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="text-sm">Latest release</span>
                </a>
                <ul class="list-reset">
                    <li class="pr-2 pl-4 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                        <a href="https://www.opengeospatial.org/standards/geoapi" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                            <span class="text-sm">Specification</span>
                            <svg class="w-4 h-4 fill-current text-gray-600 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="pr-2 pl-4 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                        <a href="{{ '/3.0/javadoc/index.html' | relative_url }}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                            <span class="text-sm">Java API</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="#" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="text-sm">Conformance</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="#" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="text-sm">Developments</span>
                </a>
            </li>
            <li class="py-2 md:my-0 hover:bg-blue-200 lg:hover:bg-transparent">
                <a href="{{ '/faq' | relative_url }}" class="block pl-4 align-middle text-gray-700 no-underline hover:text-blue-500 border-l-4 border-transparent lg:hover:border-gray-400">
                    <span class="text-sm">FAQ</span>
                </a>
            </li>
        </ul>
    </div>
</div>
